.header {
  height: 64px;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-family: 'Inter', sans-serif;
}

.header span {
  font-weight: 500;
  color: #444;
}
