/* Page Title */
.page-title {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Welcome Banner */
.dashboard-box {
  background: #fff;
  padding: 14px 20px;
  font-weight: 600;
  border-left: 4px solid #007bff;
  border-radius: 6px;
  margin-bottom: 25px;
}

/* Dashboard Container */
.dashboard-container {
  margin-top: 20px;
  // padding: 0 10px;
}

/* FILTERS */
.filter-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-items: center;
}

.filter-label {
  font-weight: 500;
}

.item-select-data {
  padding: 6px 10px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

@media(max-width:768px){
  .item-select-data {
    width: 100%;
  }
}

/* SUMMARY CARDS */
.cards-row {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.card-col {
  flex: 1;
  min-width: 250px;
}

.stat-card {
  padding: 28px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  width: 81%;
}

.stat-card.blue { border-left: 5px solid #007bff; }
.stat-card.green { border-left: 5px solid #28a745; }
.stat-card.orange { border-left: 5px solid #ff9800; }

/* CHART ROWS */
.chart-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.chart-col {
  flex: 1;
  min-width: 300px;
  display: flex;
}

/* CHART CARD */
.chart-card {
  flex: 1;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  height: 380px;
}

.chart-card h5 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.chart-card canvas {
  flex: 1;
  width: 100% !important;
  height: 260px !important;
}

/* MOBILE RESPONSIVE FIX */
@media (max-width: 768px) {

  .cards-row {
    flex-direction: column;
  }

  .card-col {
    width: 100%;
  }

  .filter-container {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .chart-row {
    flex-direction: column;
  }

  .chart-col {
    width: 100%;
  }

  .chart-card {
    height: 300px;
  }

  .chart-card canvas {
    height: 220px !important;
  }
}
